<div class="main">
<vp-header></vp-header>

<div class="body">
  <div class="login">
    <div class="wrapper">
        <h1>Login</h1>
        <form action="" method="get">
            E-mail:
            <input name="email" placeholder="example@email.com"/>
            Password:
            <input name="password" placeholder="12345678"/>
            <a>Forgot password?</a>
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
  </div>
</div>

<vp-footer></vp-footer>
</div>
