<div class="center">

    <div class="login">
        <div class="wrapper">
            <form action="" method="get">
                <div class="header">Login</div>
                E-mail:
                <input name="login" [(ngModel)]="user.login" placeholder="example@email.com"/>
                Password:
                <input name="password" [(ngModel)]="user.password" placeholder="**********" type="password"/>
                <a href="#forgot-password">Forgot password?</a>
                <button (click)="login()" type="submit" class="btn">Login</button>
            </form>
        </div>
    </div>
</div>
