.footer {
    position: fixed;
    bottom: 0;
    height: 64px;
    background-color: #414452;
    text-align: right;
    width: 100%;
}

.footer .copyright {
    padding: 20px;
    font-size: 14px;
    line-height: 1.71;
    color: #c0c3ce;
    padding-top: 21px;
    padding-right: 85px;
}