<div  class="courses-list-item">
    <div class="header">
        <div class="title">
            {{item.title}}
        </div>
        <div class="date">
                {{item.creationDate}}
        </div>
        <div class="duration">
            {{item.duration}}
        </div>
    </div>
    <div class="description">
        {{item.description}}
    </div>
    <div class="delete-course">
            <div class="wrapper">
                <!-- <fa-icon [icon]="faPlus" size="sm"></fa-icon> -->
                <button type="button" class="btn">Delete</button>
            </div>
    </div>
    <div class="edit-course">
            <div class="wrapper">
                <!-- <fa-icon [icon]="faPlus" size="sm"></fa-icon> -->
                <button type="button" class="btn">Edit</button>
            </div>
    </div>
</div>
