<div class="courses-header">
    <div class="search-course">
        <form action="" method="get">
            <div class="wrapper">
                <fa-icon [icon]="faSearch" flip="horizontal" size="lg"></fa-icon>
                <input name="search" placeholder="Text to search" type="search">
            </div>
            
            <button type="submit" class="btn">Search</button>
        </form>
    </div>
    <div class="add-course">
        <div class="wrapper">
            <fa-icon [icon]="faPlus" size="sm"></fa-icon>
            <button type="button" class="btn">Add course</button>
        </div>
    </div>
</div>
